<md-card class="crpto-md-card">
  <md-toolbar color="primary">
    <md-radio-group name="function" [(ngModel)]="function">
      <md-radio-button name="function" value="DES">
        DES
      </md-radio-button>
      <md-radio-button name="function" value="TripleDES">
        3DES
      </md-radio-button>
      <md-radio-button name="function" value="AES">
        AES
      </md-radio-button>
    </md-radio-group>

    <span class="fill-remaining"></span>

    <section>
      <button md-raised-button color="accent" (click)="encrypt()">Encrypt</button>
      <button md-raised-button color="accent" (click)="decrypt()">Decrypt</button>
    </section>
  </md-toolbar>
  <md-card-content>

    <div md-line class="tool-container">
      <label class="key">Key:
        <md-input class="key" dividerColor="primary" placeholder="HEX string" [(ngModel)]="key"></md-input>
      </label>
      <label>Encoding (HEX/UTF-8/GBK/...):
        <md-input dividerColor="primary" [(ngModel)]="encoding">
        </md-input>
      </label>

      <md-checkbox [(ngModel)]="isBase64">Base64</md-checkbox>
    </div>

    <div md-line>
      <section class="radio-container">
        Padding：
        <md-radio-group name="paddings" [(ngModel)]="padding">
          <md-radio-button name="paddings" *ngFor="let pad of paddings" [value]="pad">
            {{pad}}
          </md-radio-button>
        </md-radio-group>
      </section>
    </div>

    <div md-line>
      <section class="radio-container">
        Mode：
        <md-radio-group name="modes" [(ngModel)]="mode">
          <md-radio-button name="modes" *ngFor="let mode1 of modes" [value]="mode1">
            {{mode1}}
          </md-radio-button>
        </md-radio-group>
      </section>
    </div>

    <h3>Data Source</h3>

    <md-textarea
      rows="4"
      [(ngModel)]="data"
      #dataSource>
      <md-hint align="end">{{dataSource.characterCount}} Characters</md-hint>
    </md-textarea>

    <h3 md-subheader>Result</h3>

    <section class="radio-container" [style.visibility]="isBase64? 'hidden':'visible'">
      <md-radio-group name="more_options" [(ngModel)]="format" (change)="encrypt()">
        <md-radio-button name="more_options" value="plain">
          Plain Text
        </md-radio-button>
        <md-radio-button name="more_options" value="hex">
          HEX
        </md-radio-button>
        <md-radio-button name="more_options" value="compressed">
          Compressed Hex
        </md-radio-button>
        <md-radio-button name="more_options" value="map">
          HEX Map
        </md-radio-button>
      </md-radio-group>
    </section>

    <md-textarea
      readonly
      rows="4"
      [(ngModel)]="result">
      <md-hint align="end">{{bytesCount}} {{isBase64? 'Characters': 'Bytes'}}</md-hint>
    </md-textarea>

  </md-card-content>
</md-card>
