<md-card class="crpto-md-card">
  <md-toolbar color="primary">
    <md-radio-group name="function" [(ngModel)]="function" (change)="onFunctionChange()">
      <md-radio-button name="function" value="DES">
        DES
      </md-radio-button>
      <md-radio-button name="function" value="TripleDES">
        3DES
      </md-radio-button>
      <md-radio-button name="function" value="AES">
        AES
      </md-radio-button>
    </md-radio-group>
    <span class="fill-remaining"></span>

    <section>
      <button md-raised-button color="accent" (click)="encrypt()">Encrypt</button>
      <button md-raised-button color="accent" (click)="decrypt()">Decrypt</button>
    </section>
  </md-toolbar>
  <md-card-content>
    <div class="tool-container">
      <label class="key"><span class="secondary-text">Key:</span>
        <md-input dividerColor="primary" [placeholder]="keySize + ' bytes hex string'" [(ngModel)]="key"></md-input>
      </label>
      <label class="iv" [class.hidden]="!isIvNeeded">IV:
        <md-input dividerColor="primary" [placeholder]="ivSize + ' bytes hex string'" [(ngModel)]="iv"
                  required></md-input>
      </label>
    </div>

    <div class="flow">
      <label>
        <span class="secondary-text">Padding:</span>
        <md-select [(ngModel)]="padding" name="padding" (ngModelChange)="onPadChange()">
          <md-option *ngFor="let pad of paddings" [value]="pad">
            {{pad}}
          </md-option>
        </md-select>
      </label>
      <label>
        <span class="secondary-text">Mode of Operation:</span>
        <md-select [(ngModel)]="mode" name="modes" (ngModelChange)="onModeChange()">
          <md-option *ngFor="let mode1 of modes" [value]="mode1">
            {{mode1}}
          </md-option>
        </md-select>
      </label>
    </div>

    <h3 class="secondary-text">Data Source</h3>
    <div md-line>
      <label>
        <md-checkbox [(ngModel)]="isDataSourceHex">HEX</md-checkbox>
      </label>
      <span [class.hidden]="isDataSourceHex" style="margin-left: 50px;">
        <label>
          <span class="secondary-text">Encoding (HEX/UTF-8/GBK/...):</span>
          <md-input dividerColor="primary" [(ngModel)]="encoding">
          </md-input>
        </label>
        <label>
          <md-checkbox [(ngModel)]="isBase64">Base64</md-checkbox>
        </label>
      </span>
    </div>
    <md-textarea
      rows="4"
      [(ngModel)]="data"
      (ngModelChange)="onDataSourceChange()"
      #dataSource>
      <md-hint align="end">{{dataSourceCount}}</md-hint>
    </md-textarea>
    <md-input placeholder="Padded Data Source" disabled style="width:100%" class="secondary-text"
              [(ngModel)]="padedDataSource">
      <md-hint align="end">{{padedDataCount}}</md-hint>
    </md-input>


    <h3 md-subheader class="secondary-text">Result</h3>

    <section class="radio-container" [class.hidden]="isBase64">
      <md-radio-group name="more_options" [(ngModel)]="format" (change)="encrypt()">
        <md-radio-button name="more_options" value="hex">
          HEX
        </md-radio-button>
        <md-radio-button name="more_options" value="compressed">
          Compressed Hex
        </md-radio-button>
        <md-radio-button name="more_options" value="base64">
          Base64
        </md-radio-button>
        <md-radio-button name="more_options" value="map">
          HEX Map
        </md-radio-button>
      </md-radio-group>
    </section>

    <md-input
      readonly
      [(ngModel)]="result">
      <md-hint align="end">{{resultCount}}</md-hint>
    </md-input>

  </md-card-content>
</md-card>
