.crpto-md-card {
  width: 100%;
  margin-bottom: 100px;
  padding: 0;

  span.fill-remaining {
    flex: 1 1 auto;
  }

  div.tool-container {
    display: flex;
    flex-flow: row wrap;
  }

  .flow {
    line-height: 48px;
  }

  md-card-content {
    padding: 16px;

    md-textarea {
      width: 100%;
    }

    select {
      width: 100px;
      margin-left: 30px;
    }

    label, [md-line] section {
      margin-left: 30px;
      md-input: {
        margin-left: 10px;
      }

      &:first-child {
        margin-left: 0;
        md-input {
          width: 200px;
        }
      }
    }

    .tool-container {
      label {
        flex-grow: 1;
      }

      label md-input {
        width: 90%;
      }
    }
  }
}

