
.encode-md-card {
  width: 100%;
  margin-bottom: 100px;
  padding: 0;
  //background-color: brown;
  md-toolbar {
    span.fill-remaining {
      flex: 1 1 auto;
    }
  }

  md-card-content {
    padding: 16px;

    md-grid-tile {
      //background-color: bisque;
    }

    md-textarea {
      width: 100%;
      //background-color: brown;
    }

    h4 {
      //background-color: aqua;
    }

    md-input {
      width: 100%;
    }

    form {
      table {
        width: 100%;

        td {
          md-input {
            width: 100%;
          }
        }
      }
    }

    md-textarea {
      width: 100%;
    }
  }
}

