$md-list-side-padding: 16px;

div.belbin {
  display: flex;
  flex-flow: column wrap;

  md-list, md-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 20px 20px 0 0;
    width: 100%;
  }
  h2 {
    margin-top: 20px;
  }

  .centered {
    text-align: center;
  }

  .submit {
    margin: 40px 0;
  }

  h3 {
    padding: 0 $md-list-side-padding;
  }

  md-icon {
    color: rgba(0, 0, 0, 0.12);
  }

  [md-list-icon] {
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
}

