<div class="belbin">
  <md-list *ngFor="let choice of questions">
    <h3 md-subheader>{{choice.number}}. <span>{{choice.question}}</span></h3>
    <md-list-item *ngFor="let option of choice.options">
      <p md-line>
        <span>{{option.number}}. </span>
        <span class="demo-secondary-text">{{option.answer}}</span>
        <md-input placeholder="0-10" type="number" min="0" max="10" maxlength="4" align="end" [(ngModel)]="option.score"></md-input>
      </p>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</div>
