<md-card class="encode-md-card">
  <md-toolbar color="primary">
    <section>
      <button md-raised-button color="accent" (click)="encode()">Encode</button>
      <button md-raised-button color="accent" (click)="decode()">Decode</button>
    </section>
    <span class="fill-remaining"></span>
      <md-icon class="md-24">live_help</md-icon>
  </md-toolbar>
  <md-card-content>
    <table cellspacing="0" style="width: 100%">
      <tr>
        <td>
          <md-checkbox [(ngModel)]="isBase64">Base64</md-checkbox>
        </td>
        <td>
          <md-input dividerColor="primary" placeholder="UTF-8/GBK/..."
                    [(ngModel)]="encoding">
          </md-input>
        </td>
        <td [style.visibility]="isBase64? 'hidden':'visible'">
          <md-input dividerColor="accent" placeholder="hex|compressed|map"
                    [(ngModel)]="format"></md-input>
        </td>

      </tr>
    </table>

    <md-textarea
      rows="4"
      placeholder="Data Source"
      [(ngModel)]="data"
      #dataSource>
      <md-hint align="end">{{dataSource.characterCount}} Characters</md-hint>
    </md-textarea>

    <md-textarea
      readonly
      rows="4"
      placeholder="Result"
      [(ngModel)]="result">
      <md-hint align="end">{{bytesCount}} {{isBase64? 'Characters': 'Bytes'}}</md-hint>
    </md-textarea>

  </md-card-content>
</md-card>
