<md-card class="encode-md-card">
  <md-toolbar color="primary">
    <section>
      <button md-raised-button color="accent" (click)="encode()">Encode</button>
      <button md-raised-button color="accent" (click)="decode()">Decode</button>
    </section>
    <span class="fill-remaining"></span>
    <md-icon class="md-24">live_help</md-icon>
  </md-toolbar>
  <md-card-content>
    <h3>Data Source</h3>
    <p md-line>
      <md-checkbox [(ngModel)]="isBase64">Base64</md-checkbox>
      <md-input dividerColor="primary" placeholder="UTF-8/GBK/..."
                [(ngModel)]="encoding">
      </md-input>
    </p>

    <md-textarea
      rows="4"
      [(ngModel)]="data"
      #dataSource>
      <md-hint align="end">{{dataSource.characterCount}} Characters</md-hint>
    </md-textarea>

    <h3 md-subheader>Result</h3>

    <section class="radio-container" [style.visibility]="isBase64? 'hidden':'visible'">
      <md-radio-group name="more_options" [(ngModel)]="format" (change)="encode()">
        <md-radio-button name="more_options" value="hex">
          HEX
        </md-radio-button>
        <md-radio-button name="more_options" value="compressed">
          Compressed Hex
        </md-radio-button>
        <md-radio-button name="more_options" value="map">
          HEX Map
        </md-radio-button>
      </md-radio-group>
    </section>

    <md-textarea
      readonly
      rows="4"
      [(ngModel)]="result">
      <md-hint align="end">{{bytesCount}} {{isBase64? 'Characters': 'Bytes'}}</md-hint>
    </md-textarea>

  </md-card-content>
</md-card>
