
.encode-md-card {
  width: 100%;
  margin-bottom: 100px;
  padding: 0;
  //background-color: brown;
  md-toolbar {
    span.fill-remaining {
      flex: 1 1 auto;
    }
  }

  md-card-content {
    padding: 16px;


    md-input {
      margin-left: 50px;
    }


    md-textarea {
      width: 100%;
    }

    .radio-container {
      md-radio-button {
        margin: 4px;
      }
    }
  }
}

