<md-card class="encode-card encode-basic">
    <md-toolbar color="primary">Hints</md-toolbar>
    <md-card-content>
        <h4>Input</h4>
        <p>
            <md-input placeholder="Character count (100 max)" maxLength="100" class="encode-full-width"
                      value="Hello world. How are you?"
                      #characterCountHintExample>
                <md-hint align="end">{{characterCountHintExample.characterCount}} / 100</md-hint>
            </md-input>
        </p>

        <h4>Textarea</h4>
        <p>
            <md-textarea placeholder="Character count (100 max)" maxLength="100" class="encode-full-width"
                         value="Hello world. How are you?"
                         #characterCountHintExample>
                <md-hint align="end">{{characterCountHintExample.characterCount}} / 100</md-hint>
            </md-textarea>
        </p>
    </md-card-content>
</md-card>