.encode-basic {
  padding: 0;
}

.encode-basic md-card-content {
  padding: 16px;
}

.encode-full-width {
  width: 100%;
}

.encode-half-width {
  width: 49%;
}

.encode-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.encode-card {
  margin: 16px;
}

.encode-textarea {
  resize: none;
  border: none;
  overflow: auto;
  padding: 0;
  background: lightblue;
}
