<md-card class="encode-md-card">
    <md-toolbar color="primary">
        <span>Encode</span>
        <span class="fill-remaining"></span>

        <button md-icon-button (click)="encode()">
            <md-icon class="md-24" >radio_button_checked</md-icon>
        </button>
    </md-toolbar>
    <md-card-content class="encode-basic-list">
        <md-grid-list cols="2" rowHeight="60" gutterSize="5px">
            <md-grid-tile>
                Encoding:
                <md-input dividerColor="primary" placeholder="UTF-8/GBK"
                          [(ngModel)]="encoding">
                </md-input>
            </md-grid-tile>
            <md-grid-tile>
                <span>Format:</span>
                <md-input dividerColor="accent" placeholder="hex|compressed|map"
                          [(ngModel)]="format">
                </md-input>
            </md-grid-tile>
        </md-grid-list>

        <md-textarea
                rows="4"
                placeholder="String to be encoded"
                [(ngModel)]="data"
                #dataSource>
            <md-hint align="end">{{dataSource.characterCount}} Characters</md-hint>
        </md-textarea>

        <md-textarea
                rows="4"
                placeholder="Encoded bytes"
                [(ngModel)]="encodedResult"
                #encodedBytes>
            <md-hint align="end">{{encodedBytes.characterCount}} Bytes</md-hint>
        </md-textarea>

    </md-card-content>
</md-card>